# Private key for deployment (without 0x prefix)
PRIVATE_KEY=81ede9ffa54e9e852023b9fb7db736fe2211032117103e274748ce3801429080

# BaseScan API key for contract verification (optional)
BASESCAN_API_KEY=D8TKI5JC84V5DPRIZCGMPYVUVUGPDUITAP

# RPC URL for Base network (optional, defaults to public RPC)
BASE_RPC_URL=https://base-mainnet.g.alchemy.com/v2/tFIY8e1UekIvAUpP_t7fd